// @todo sass docs
// @todo refactor file

@mixin placeholder($color) {

	:-moz-placeholder {
		color: $color;
	}

	::-moz-placeholder {
		color: $color;
	}

	:-ms-input-placeholder {
		color: $color;
	}

	::-webkit-input-placeholder {
		color: $color;
	}
}

@mixin fluid-width($target, $context) {
	width: 100%*($target/$context);
}

@mixin fluid-margin-right($target, $context) {
	margin-right: 100%*($target/$context);
}

@mixin fluid-margin-left($target, $context) {
	margin-left: 100%*($target/$context);
}

@mixin fluid-padding-right($target, $context) {
	padding-right: 100%*($target/$context);
}

@mixin fluid-padding-left($target, $context) {
	padding-left: 100%*($target/$context);
}

@mixin fluid-right($target, $context) {
	right: 100%*($target/$context);
}

@mixin fluid-left($target, $context) {
	left: 100%*($target/$context);
}


// For clearing floats // @todo should be placeholder

@mixin clearfix() {

	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}

// @todo should be placeholder

@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// Generic size mixin

@mixin size($width, $height: $width) {
	height: $height;
	width: $width;
}

// @TODO should be placeholders

@mixin vertically-centered() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin horizontally-centered() {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

@mixin totally-centered() {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}


// //////////////////
// should be a placeholder, refactor into own file

@mixin reset-button() {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}
