// icons

@font-face {
	font-family: '@{icon-font}';
	font-style: normal;
	font-weight: normal;
	src: url('@{directory-fonts}/@{icon-font}.eot?-gfwsty');
	src: url('@{directory-fonts}/@{icon-font}.eot?#iefix-gfwsty') format('embedded-opentype'),
	url('@{directory-fonts}/@{icon-font}.ttf?-gfwsty') format('truetype'),
	url('@{directory-fonts}/@{icon-font}.woff?-gfwsty') format('woff'),
	url('@{directory-fonts}/@{icon-font}.svg?-gfwsty#@{icon-font}') format('svg');
}

%icon {
	font-family: '@{icon-font}';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

.icon {
	@extend %icon;
}

.icon-placeholder::before {
	content: '\f096';
}
