# debugging
*.log

# OS
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# project meta
.sass-cache
.package.json
*.sublime-workspace

# installed components
bower_components
node_modules

# generated components
dist
test/results
# TODO.md
