<section class="modal modal-ajax{{#if class}} {{{class}}}{{/if}}">
	<div class="modal-inner">
		<header class="modal-header">
			<button type="button" class="modal-close">
				<b>Close Modal</b>
				<i class="icon icon-close"></i>
			</button>
			<h1 class="modal-title">{{{title}}}</h1>
		</header>
		<div class="modal-body">
			{{{body}}}
		</div>
	</div>
</section>
