// alerts

$color-success: #28E146;
$color-warning: #FFA500;
$color-info: #287FE1;
$color-error: #CC2000;

.alerts {
	color: $color-text;
	width: 100%;

	.js & {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1001;

		&.alerts-in {
			display: block;
		}
	}
}

.alerts-inner {
	position: relative;

	@media (min-width: $break-point-b) {
		margin:0 $ggw/2;
		max-width: 950px;
		padding-bottom: $vr*3;
	}

	@media (min-width: $break-point-e) {
		margin: 0 auto;
	}
}

.alert-container {
	margin-bottom: $vr*2;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.alert {
	background: #FFF;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	position: relative;
	margin: $vr;
	min-height: $vr*13;
	padding: $vr*3 $ggw*2 $vr*3 $ggw*2;
	z-index: 1001;

	@media (min-width: $break-point-d) {
		margin: 0;
		padding: $vr*2 $ggw*2 $vr*2 $ggw*2;
	}

	.alert + & {
		margin-top: $vr;
	}

	.cssanimations & {
		animation-duration: 500ms;
		animation-fill-mode: both;
		display: none;
		opacity: 0;

		&.alert-in {
			animation-name: fadeInUp;
		}

		&.alert-out {
			animation-name: fadeOutDown;
		}

		&.alert-show {
			display: block;
		}
	}

	.no-cssanimations & {
		opacity: 0;
		transition: opacity 500ms;

		&.alert-in {
			opacity: 1;
		}

		&.alert-out {
			opacity: 0;
		}

		&.alert-show {
			display: block;
		}
	}

	.icon {
		font-size: $vr*4;
	}
}

// themes
.alert-success {
	.alert-dismiss {
		color: $color-success;
	}
}

.alert-warning {
	.alert-dismiss {
		color: $color-warning;
	}
}

.alert-notice {
	.alert-dismiss {
		color: $color-info;
	}
}

.alert-error {
	.alert-dismiss {
		color: $color-error;
	}
}

.alert-dismiss {
	// <button>
	@include reset-button;

	color: #000;
	font-size: 18px;
	line-height: $vr*5;
	position: absolute;
	top: $vr*2;
	right: 15px;

	@media (min-width: $break-point-d) {
		top: $vr*2;
		right: 15px;
	}
}

.alert-title {
	font-size: 14px;
	line-height: $vr*3;
	margin-top: 0;
	margin-bottom: $vr;

	@media (min-width: $break-point-d) {
		font-size: 18px;
		line-height: $vr*5;
		margin-bottom: 0;
	}
}

.alert-content {
	font-size: 14px;
	line-height: $vr*3;

	@media (min-width: $break-point-d) {
		font-size: 16px;
		line-height: $vr*4;
	}

	p {
		margin-top: 0;
		margin-bottom: $vr*2;
	}

	*:last-child {
		margin-bottom: 0;
	}
}

// animations
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}
