// forms

// Forms specific variables

$input-border-width: 1px;

$input-height-smallscreen: $vr*5;
$input-padding-y-smallscreen: $vr;
$input-padding-x-smallscreen: 10px;

$input-height: $vr*7;
$input-padding-y: $vr;
$input-padding-x: 15px;

$input-icon-width: 16px;

textarea {
	height: auto;
	overflow: auto;
	resize: none;
}

//  Fake <select>

.select-replace {
	display: block;
	padding: 0;
	position: relative;

	select {
		appearance: none;
		background: none;
		border: 0;
		box-shadow: none;
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 2;
	}
}

label,
input[type='submit'],
button {
	cursor: pointer;
}

input[type='search'] {
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea {
	appearance: none;
}

label input,
label textarea,
label select {
	display: block;
}

textarea {
	height: $vr*30;
	overflow: auto;
	padding: $input-padding-y-smallscreen $input-padding-x-smallscreen;
	white-space: normal;

	@media (min-width: $break-point-d) {
		height: $vr*30;
		padding: $input-padding-y*2 $input-padding-x;
	}
}

.select-replace {
	display: block;
	padding: 0;
	position: relative;

	select {
		appearance: none;
		background: none;
		border: 0;
		box-shadow: none;
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 2;
	}
}

input[type='radio'],
input[type='checkbox'] {
	@include size(auto);

	background: none;
	border: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;

	.lt-ie9 & {
		display: inline;
	}
}

.radio,
.checkbox {
	display: block;
	font-size: 12px;
	line-height: $vr*3;
	margin-bottom: $vr;
	padding-left: 25px;
	padding-top: $vr*2;
	position: relative;

	@media(min-width: $break-point-e) {
		font-size: 16px;
		line-height: $vr*5;
		padding-top: $vr;
	}

	&:first-child {

		@media (min-width: $break-point-d) {
			margin-top: $vr;
		}
	}

	&.disabled {
		color: #CCC;
	}

	&.checklist-item {
		margin-top: 0;
	}

	.checkbox-replace,
	.radio-replace {
		left: 0;
		position: absolute;
		top: 7px;
	}

	&.radio-style-a,
	&.radio-style-b {
		background-color: #EBEBEB;
		font-size: 14px;
		font-weight: $font-weight-medium;
		line-height: normal;
		margin-bottom: 0;
		margin-top: 0;
		padding: $vr*2 5px $vr*2 35px;
		width: 100%;

		.no-js & {
			padding: $vr*2;
		}

		.radio-replace {
			background-color: transparent;
			border-color: $brand-color-a;
			left: 10px;
			top: 12px;
		}

		&.checked {
			background-color: #FFF;
			box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3);
		}
	}
}

.no-js {

	.radio,
	.checkbox {
		padding-left: 0;

		input {
			box-shadow: none;
			display: inline-block;
			padding: 0;
			width: auto;
		}
	}
}

.checkbox-replace-input,
.radio-replace-input {
	@include visually-hidden;
}

.checkbox-replace,
.radio-replace {
	@include size($vr*4);

	appearance: none;
	background-color: transparent;
	border: 2px solid $brand-color-a;
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
	transition: none;
	vertical-align: top;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:hover,
	input:focus + &,
	input:active + & {
		border-color: $brand-color-b;
	}

	input[disabled] + & {
		background: #F0F0F0;
		border-color: $brand-color-f;
		color: $brand-color-f;
		cursor: not-allowed;

		&:hover,
		&:focus {
			border-color: $brand-color-f;
		}
	}

	input[disabled] + & {

		&:hover,
		&:focus {
			border-color: $brand-color-f;
		}
	}
}

.checkbox-replace {
	border-radius: 2px;

	&::after {
		@include size(100%);

		content: '\2714'; // a tick
		display: none;
		font-size: 16px;
		left: 0;
		line-height: 100%;
		position: absolute;
		text-align: center;
		top: 0;
	}

	input:checked + & {
		background: $brand-color-b;
		border-color: $brand-color-b;
		color: #FFF;

		&::after {
			display: block;
		}
	}
}

.radio-replace {
	border-radius: 100%;

	&::after {
		@include size(0);

		border-radius: 100%;
		content: '';
		left: 7px;
		position: absolute;
		top: 7px;
		transition: all 100ms;
	}

	input:checked + & {

		&::after {
			@include size(12px);

			left: 2px;
			top: 2px;
		}
	}
}

// Input size variations

@media (min-width: $break-point-d) {

	.input-mini {
		width: ($gcw*1) + ($ggw*1);
	}

	.input-small {
		width: ($gcw*2) + ($ggw*1);
	}

	.input-medium {
		width: ($gcw*3) + ($ggw*2);
	}

	.input-large {
		width: ($gcw*4) + ($ggw*3);
	}

	.input-xlarge {
		width: ($gcw*5) + ($ggw*4);
	}

	.input-xxlarge {
		width: ($gcw*6) + ($ggw*5);
	}

	.input-xxxlarge {
		width: ($gcw*7) + ($ggw*6);
	}

	.input-xxxxlarge {
		max-width: 90%;
		width: ($gcw*8) + ($ggw*7);
	}
}

.input-full {
	width: 100%;

	input {
		overflow: visible;
	}
}

input[type='file'] {
	background-color: initial;
	border: initial;
	box-shadow: none;
	cursor: pointer;
	line-height: initial;
	padding: initial;
	width: auto;
}

.form-actions {
	margin-top: $vr*2;

	.btn {
		margin-bottom: $vr;
	}
}
