// utilities

.hide {
	display: none;
}

.show {
	display: block;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.no-transition,
.no-transition * {
	transition: none!important;
}

// utilities-responsive

.visible-smallscreen,
.visible-mediumscreen,
.visible-largescreen {
	display: none;
}

.visible-smallscreen {
	display: block;
}

.visible-mediumscreen {

	@media (min-width: $break-point-d) {
    	display: block;
  	}
}

.visible-largescreen {

	@media (min-width: $break-point-e) {
		display: block;
  	}
}

.hidden-mediumscreen {

	@media (min-width: $break-point-d) {
    	display: none;
  	}
}

.hidden-largescreen {

	@media (min-width: $break-point-e) {
    	display: none;
  	}
}
