<div class="toggle">
	<div class="toggle-body">
		<a href="#toggle_content" class="toggle-handle">
		Toggle Handle <i class="icon icon-placeholder toggle-icon"></i>
		</a>
		<div class="toggle-content" id="toggle_content">
			<h4>Toggle content</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis minus a ipsam nam impedit vel dolore optio deleniti aut culpa sunt magni, fugiat reprehenderit ducimus, ipsum porro aliquid harum!</p>
		</div>
	</div>
</div>
