---
title: Layout A
---
{{#extend "master"}}
	{{! Main Content }}
	{{#content "master-body"}}
		{{#if "features-top"}}
			{{#block "features-top"}}{{/block}}
		{{/if}}
		<main class="main" id="main" role="main">
			{{#if "sections-top"}}
				{{#block "sections-top"}}{{/block}}
			{{/if}}
			{{#if "region-a"}}
			<div class="layout layout-a">
				{{body}}
				{{#if "region-a"}}
				<div class="region region-a">
					<div class="region-inner">
						{{#block "region-a"}}{{/block}}
					</div>
				</div>
				{{/if}}
			</div>
			{{/if}}
			{{#if "sections-bottom"}}
				{{#block "sections-bottom"}}{{/block}}
			{{/if}}
		</main>
		{{#if "features-bottom"}}
			{{#block "features-bottom"}}{{/block}}
		{{/if}}
	{{/content}}
	{{! Additional Content for <head> and just before </body>}}
	{{#content "master-head" mode="extend"}}
		{{#block "head"}}{{/block}}
	{{/content}}
	{{#content "master-foot" mode="extend"}}
		{{#block "foot"}}{{/block}}
	{{/content}}
{{/extend}}
