---
title: Master Page
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
	{{#block "master-head"}}
	{{>head-meta}}
	{{>head-icons}}
	{{>head-css}}
	{{>head-scripts}}
	{{/block}}
</head>
<body class="body{{#if visibleGrid}} visible-grid{{/if}}{{#if visibleBreakpoints}} visible-breakpoints{{/if}}">
	{{#if showHeader}}
	{{>header}}
	{{/if}}
	<div id="page" class="page{{#if pageClass}} {{pageClass}}{{/if}}">
		{{#if "features-top"}}
		{{#block "features-top"}}{{/block}}
		{{/if}}
		<main class="main" id="main" role="main">
			{{#if "sections-top"}}
			{{#block "sections-top"}}{{/block}}
			{{/if}}
			{{#if "region-a"}}
			<div class="layout layout-a">
				{{body}}
				{{#if "region-a"}}
				<div class="region region-a">
					<div class="region-inner">
						{{#block "region-a"}}{{/block}}
					</div>
				</div>
				{{/if}}
			</div>
			{{/if}}
			{{#if "sections-bottom"}}
			{{#block "sections-bottom"}}{{/block}}
			{{/if}}
		</main>
		{{#if "features-bottom"}}
		{{#block "features-bottom"}}{{/block}}
		{{/if}}
	</div>
	{{#if visibleGrid}}
	{{>grid}}
	{{/if}}
	{{#block "master-foot"}}
	{{>foot-scripts}}
	{{/block}}
</body>
</html>

